*{
    margin: 0px;
    padding: 0px;
}
/* #container{
    display: flex;
    background-color: brown;
    height: 500px;
    width: 100%;
   
}
.row{
    flex: 1;
}
.col{
    background-color: white;
    border: 1px solid black;
    
      aspect-ratio: 1/1;
}
.red-color{
    background-color: red;
}
#btn{
    padding: 20px 40px;
    background-color: green;
    color: white;
    margin: 10px ;
    font-weight: bold;
    font-size: 18px;
}
#btn-container{
    text-align: center;
} */

/* css for screen structure --diving the screen */


#main-container{
    
    display: flex;
    width: 100%;
    height: 100vh;

}
#first{
    flex: 25%;

}
#second{
flex: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#third{
    flex: 25%;
}
#grid-box{
    height: 500px;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}
h1{
    padding-bottom: 20px;
}


#container{
    display: flex;
    height: 100%;
    width: 100%;
   
}
.row{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.col{
    background-color: white;
    border: 1px solid black;
    flex:1;
}