*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
}
.row{
    flex: 1;
}
.col{
    margin: 1px;
    background-color: aqua;
    border: 1px solid black;
}
.red-color{
    background-color: red;
}